<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
              integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              type="text/css"
              href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script type="text/javascript"
                src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
        <link type="text/css"
              rel="stylesheet"
              href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
        <link rel="preload" href="{% static 'fonts.css' %}" as="style" />
        <link rel="stylesheet" href="{% static 'fonts.css' %}" />
        <script src="https://js.sentry-cdn.com/78856604267db99554868743d5eb61e5.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.min.js"
                integrity="sha512-pZ0i46J1zsMwPd2NQZ4IaL427jXE2RVHMk3uv/wPTNlBVp9AbB1L65/4YdrXRPLEmyZCkY9qYOOsQp44V4orHg=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        {% load compress %}
        {% compress css %}
            <link type="text/x-scss"
                  href="{% static 'scss/custom.scss' %}"
                  rel="stylesheet"
                  media="screen">
        {% endcompress %}
        <title>Approval Elections from The Center for Election Science</title>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% load tz %}
        {% get_current_timezone as TIME_ZONE %}
        <main>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
                </div>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="bg-light py-4 mt-5">
            <div class="container">
                <div class="text-center">
                    <p>
                        This website demonstrates <a href="https://www.electionscience.org/approval-voting">approval voting</a>, instead of '<a href="https://en.wikipedia.org/wiki/First-past-the-post_voting">choose one</a>' voting.
                        <br />
                        <a href="https://www.electionscience.org/approval-voting">Learn why it's better</a> and
                        <a href="{% url 'create' %}">create your own election</a>.
                    </p>
                    {% if user.is_authenticated %}
                        <p>
                            <a href="{% url 'my_info' %}">My Elections</a> |
                            <a href="{% url 'account_logout' %}?next={% url 'index' %}">Logout</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{% url 'account_login' %}{% if request.path != '/approval_polls/' %}?next={{ request.path }}{% endif %}">Login</a>
                        </p>
                    {% endif %}
                    <div id="share" class="mb-3"></div>
                    <a href="https://www.electionscience.org"
                       target="_blank"
                       rel="noopener noreferrer">
                        <img src="{% static 'images/ces-horizontal-stack.png' %}"
                             class="img-fluid footer-logo"
                             alt="Election Science Logo" />
                    </a>
                </div>
            </div>
        </footer>
        <!-- Add your scripts here -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        <script>
            $(function () {
                // Initialize tooltips and popovers with Bootstrap 5 syntax
                var tooltipElements = document.querySelectorAll('[data-bs-toggle="tooltip"]');
                tooltipElements.forEach(function(element) {
                    new bootstrap.Tooltip(element);
                });
                var popoverElements = document.querySelectorAll('[data-bs-toggle="popover"]');
                popoverElements.forEach(function(element) {
                    new bootstrap.Popover(element);
                });
            });
        </script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
