<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
              integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              type="text/css"
              href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script type="text/javascript"
                src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
        <link type="text/css"
              rel="stylesheet"
              href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
              rel="stylesheet">
        <script src="https://js.sentry-cdn.com/78856604267db99554868743d5eb61e5.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.min.js"
                integrity="sha512-pZ0i46J1zsMwPd2NQZ4IaL427jXE2RVHMk3uv/wPTNlBVp9AbB1L65/4YdrXRPLEmyZCkY9qYOOsQp44V4orHg=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" />
        {% load compress %}
        {% compress css %}
            <link type="text/x-scss"
                  href="{% static 'scss/custom.scss' %}"
                  rel="stylesheet"
                  media="screen">
        {% endcompress %}
        <title>Approval Polls from The Center for Election Science</title>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% load tz %}
        {% get_current_timezone as TIME_ZONE %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Vote, by ElectionScience.org</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarColor01"
                        aria-controls="navbarColor01"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a href="{% url 'create' %}">
                                <button class="btn btn-primary my-2 my-sm-0" type="submit">Create</button>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav justify-content-end">
                        {% block login %}
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'my_info' %}">{% firstof user.username "My Profile" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{% url 'account_logout' %}?next={% url 'index' %}">Logout</a>
                                </li>
                            {% else %}
                                {% if request.path != '/approval_polls/' %}
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           href="{% url 'account_login' %}?next={{ request.path }}">Login</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endblock login %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                {% block content %}
                {% endblock content %}
                <div class="row-fluid mt-5">
                    <div class="col-md-12">
                        <hr>
                        <p class="text-center">
                            This poll uses <a href="https://www.electionscience.org/approval-voting">approval voting</a>, instead of the more common plurality system.
                            <br />
                            <a href="https://www.electionscience.org/approval-voting">Learn why it's better</a> and
                            <a href="{% url 'create' %}" target="_top">create your own poll</a>.
                        </p>
                        <div class="container mt-5">
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
                                    <a href="https://www.electionscience.org"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="{% static 'images/ces-horizontal-stack.png' %}"
                                             class="img-fluid mx-auto d-block"
                                             alt="Election Science Logo"
                                             style="max-width: 100%;
                                                    min-width: 200px">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
