{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.3/jqcloud.min.js"
            integrity="sha512-gZUG2nobmGEaF3G67OVAmD0lQGbkzN5t9tuiOndqzVNiWBLkCo4o6UBkBLkvKfTPWlVBJPI8dvkLJTwcJbKwvw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.3/jqcloud-1.0.3.min.js"
            integrity="sha512-gZUG2nobmGEaF3G67OVAmD0lQGbkzN5t9tuiOndqzVNiWBLkCo4o6UBkBLkvKfTPWlVBJPI8dvkLJTwcJbKwvw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
{% endblock %}
{% block content %}
    <div class='row-fluid full-height'>
        <div class='col-md-12'>
            <div id='tagcloud'></div>
        </div>
    </div>
    <script text="text/javascript">
var words = []
{% for k, v in topTags.items %}
  words.push({text: '{{ k }}', weight: {{ v }}, link: '/approval_polls/tag/{{k}}'})
{% endfor %}
// Ensure jQuery is loaded before using it
if (typeof jQuery !== 'undefined' && typeof jQuery.fn.jQCloud !== 'undefined') {
    jQuery('#tagcloud').jQCloud(words);
} else {
    // Wait for jQuery and jQCloud to load
    function initializeTagCloud() {
        if (typeof jQuery !== 'undefined' && typeof jQuery.fn.jQCloud !== 'undefined') {
            jQuery('#tagcloud').jQCloud(words);
        } else {
            setTimeout(initializeTagCloud, 100);
        }
    }
    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', initializeTagCloud);
    } else {
        initializeTagCloud();
    }
}
    </script>
{% endblock %}
