---
language: python
python:
    - "2.7"
git:
    depth: 3
install: 
    - "pip install -r requirements.txt"
    - "pip install flake8"
script:
    - python manage.py test
    - flake8 --config=setup.cfg approval_*
