asgiref==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy"
cryptography==42.0.2 ; python_version >= "3.11" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.11" and python_version < "4"
django-extensions==3.2.3 ; python_version >= "3.11" and python_version < "4.0"
django-passkeys==1.2.7 ; python_version >= "3.11" and python_version < "4.0"
django-registration-redux==2.13 ; python_version >= "3.11" and python_version < "4.0"
django-sendgrid-v5==1.2.3 ; python_version >= "3.11" and python_version < "4.0"
django-upgrade==1.15.0 ; python_version >= "3.11" and python_version < "4.0"
django==5.0.1 ; python_version >= "3.11" and python_version < "4.0"
djangoajax==3.3 ; python_version >= "3.11" and python_version < "4.0"
fido2==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
gunicorn==21.2.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy"
python-http-client==3.3.7 ; python_version >= "3.11" and python_version < "4.0"
pytz==2023.4 ; python_version >= "3.11" and python_version < "4.0"
sendgrid==6.11.0 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
starkbank-ecdsa==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
tokenize-rt==5.2.0 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2023.4 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
ua-parser==0.18.0 ; python_version >= "3.11" and python_version < "4.0"
user-agents==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
whitenoise==6.6.0 ; python_version >= "3.11" and python_version < "4.0"
