{% extends 'base.html' %}

{% load filters %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href='{% static 'vendor/jquery-datetimepicker/css/jquery.datetimepicker.css' %}'>
<link rel="stylesheet" href='{% static 'vendor/bootstrap-tokenfield/css/bootstrap-tokenfield.min.css' %}'>
<script src='{% static 'vendor/jquery-datetimepicker/js/jquery.datetimepicker.full.min.js' %}'></script>
<script src='{% static 'vendor/bootstrap-tokenfield/js/bootstrap-tokenfield.min.js' %}'></script>
<script src='{% static 'approval_polls/create.js' %}'></script>
{% endblock %}

{% block content %}
<form action='{% url 'approval_polls:create' %}' method='post'>
  <fieldset>

    <legend> Create a Poll </legend>

    <div class='form-group {% if question_error %} has-error {% endif %}'>
      {% if question_error %}
      <label class='control-label' for='question'>
        {{ question_error }}
      </label>
      {% endif %}

      <label for="exampleInputEmail1" class="form-label mt-4"><b>Poll Question</b></label>
      <input type="text" class="form-control" value='{{ question }}' name='question'
        placeholder='Who do you approve of?'>
      {% comment %}
      <input type='text' class='form-control' maxlength='200' value='{{ question }}' name='question' size='28'
        placeholder='Poll Question'> {% endcomment %}
    </div>

    {% for i in 5|get_range %}
    <div class='form-group {% if i == 1 and choice_error %} has-error {% endif %}'>
      {% if i == 1 and choice_error %}
      <label class='control-label' for='choice1'>
        {{ choice_error }}
      </label>
      {% endif %}
      <label for="choice{{ i }}" class="form-label mt-4">Option {{ i }}</label> <span class='input-group-addon'>
        <a href='#' class='remove-choice' id='remove-choice{{ i }}' title='Remove Choice'>
          <i class="fa-solid fa-x"></i>
        </a>
      </span>
      <input class='form-control' type='text' maxlength='100' name='choice{{ i }}' id="choice{{ i }}" placeholder='...'>
    </div>
    {% endfor %}
    <button type='button' class='btn btn-primary mt-2 mb-5' id='add-choice' title='Add choice' data-toggle='tooltip'
      data-placement='bottom'>
      <i class='fa-solid fa-plus'></i> Add
    </button>


    <!-- Add the collapsible poll settings panel here -->
    <div class='panel-group' id='accordion' role='tablist' aria-multiselectable='true'>
      <div class='panel panel-default'>
        <div class='panel-heading' role='tab' id='headingOne'>
          <h4 class='panel-title'>
            Poll Settings
            </a>
          </h4>
        </div>
        <div id='collapsePollSettings' role='tabpanel' aria-labelledby='headingOne'>
          <div class='panel-body'>

            <legend class="mt-4">Who should be allowed to vote in this poll ?
            </legend>
            <fieldset class="form-check">
              <label class="form-check-label"><input type='radio' class="form-check-input" name='radio-poll-type'
                  checked='true' value='1'>Anyone (No restriction on the
                number of ballots per user).</label>
            <label class="form-check-label"><input type='radio' class="form-check-input" name='radio-poll-type'
                value='2'>Only users with registered accounts
              (restricted to one ballot per user, requires login).</label>
  </fieldset>

          {% comment %} This doesn't seem to work? TODO
          <div class='form-check'>
            <label class='form-check-label full-width'><input type='radio' class="form-check-input"
                name='radio-poll-type' value='3'>Only specific Email
              owners
              (will be invited by Email).
              <div id='email-input' hidden>
                <h6>(Enter a comma after each email ID)</h6>
                <input type='text' name='token-emails' class='form-control' id='tokenEmailField'
                  placeholder='Email IDs' />
                <label id='email-error' for='token-emails' class='alert alert-danger full-width' hidden>One or more
                  Email addresses are invalid.
                </label>
              </div>
            </label> {% endcomment %}

  <hr>
  <legend class="mt-4">Poll Visibility</legend>
  <div class="form-check">
    <label  class="form-check-label"><input  class="form-check-input"  type='checkbox' id='poll-visibility' name='public-poll-visibility' value='' checked>List
      this poll on the home page.</label>
  </div>
  <hr>
  <div class='datetimepicker'>
    <legend class="mt-4">Closing date and time for this poll, if any</legend>
    <input id='datetimepicker' type='text' class='form-control' name='close-datetime' value=''
      placeholder='Poll Closing Date' style='background-color: white;' readonly>
  </div>
  <div class="form-check">
    <label class="form-check-label"><input type='checkbox'  class="form-check-input" name='show-close-date' id='checkbox1' value=''>Display Poll Closing Date
      with this poll.</label>
  </div>
  <div class="form-check">
    <label class="form-check-label"><input type='checkbox'  class="form-check-input" name='show-countdown' id='checkbox2' value=''>Display Poll Closing
      Countdown
      with this poll.</label>
  </div>
  <hr>
  <legend class="mt-4">Customize Poll</legend>
  <div class="form-check">
    <label class="form-check-label"><input  class="form-check-input" type='checkbox' name='show-write-in' value=''>Permit Write-in option with this
      poll.</label>
  </div>
  <div class="form-check">
    <label class="form-check-label"><input  class="form-check-input" type='checkbox' name='show-lead-color' value='' checked>Show Leading option in different
      color.</label>
  </div>
  <div class="form-check">
    <label class="form-check-label"><input  class="form-check-input" type='checkbox' name='show-email-opt-in' value=''>Display option to opt-in for email
      communication.</label>
  </div>
  <hr>
  <div id='tag-input'>
    <h6>(Enter a comma after each tag)</h6>
    <input type='text' name='token-tags' class='form-control' id='tokenTagField' placeholder='Enter keywords' />
    </label>
  </div>
  </fieldset>
  {% csrf_token %}
  <button type='submit' class='mt-4 btn btn-success pull-right'>Create</button>
</form>
</div>
{% endblock %}