{% extends 'base.html' %}

{% load filters %}

{% block head %}
  {% load staticfiles %}
  <script src='{% static 'approval_polls/create.js' %}'></script>
{% endblock %}

{% block content %}

<div class='row-fluid'>
  <div class='col-md-12'>
    <form action='{% url 'approval_polls:create' %}' method='post'>
      <legend> Create a Poll </legend>
      {% csrf_token %}
      <div class='form-group {% if question_error %} has-error {% endif %}'>
        {% if question_error %}
          <label class='control-label' for='question'>
              {{ question_error }}
          </label>
        {% endif %}
        <input type='text' class='form-control' maxlength='200' value='{{ question }}'
               name='question' size='28' placeholder='Poll Question'>
      </div>

      {% for i in 5|get_range %}
      <div class='form-group {% if i == 1 and choice_error %} has-error {% endif %}'>
        {% if i == 1 and choice_error %}
          <label class='control-label' for='choice1'>
              {{ choice_error }}
          </label>
        {% endif %}
        <input class='form-control' type='text' maxlength='200' name='choice{{ i }}' placeholder='Choice {{i}}'>
      </div>
      {% endfor %}
      <p>
      <button type='button' class='btn btn-primary btn-sm' id='add-choice'
              title='Add choice' data-toggle='tooltip' data-placement='bottom'>
        <i class='glyphicon glyphicon-plus'></i>
      </button>
</p>
      <!-- Add the collapsible poll settings panel here -->
      <div class='panel-group' id='accordion' role='tablist' aria-multiselectable='true'>
        <div class='panel panel-default'>
          <div class='panel-heading' role='tab' id='headingOne'>
            <h4 class='panel-title'>
              <a role='button' data-toggle='collapse' data-parent='#accordion' href='#collapsePollSettings' aria-expanded='false' aria-controls='collapsePollSettings'>
               Poll Settings
              </a>
            </h4>
          </div>
          <div id='collapsePollSettings' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingOne'>
            <div class='panel-body'>
             Who should be allowed to vote in this poll ?
          <div class='radio'>
            <label><input type='radio' name='radio-poll-type' value='1'>Anyone (No restriction on the number of ballots per user).</label>
          </div>
          <div class='radio'>
            <label><input type='radio' name='radio-poll-type' checked='true' value='2'>Only users with registered accounts (restricted to one ballot per user, requires login).</label>
          </div>
            </div>
          </div>
        </div>
      </div>
      <button type='submit' class='btn btn-success pull-right'>Create</button>
    </form>
  </div>
</div>
{% endblock %}
