{% extends 'base.html' %}

{% load filters %}

{% block head %}
  {% load staticfiles %}
  <script src='{% static 'approval_polls/create.js' %}'></script>
{% endblock %}

{% block content %}
  <form action='{% url 'approval_polls:add' %}' method='post'>
    {% csrf_token %}
    <h3>Poll Question</h3>

    <input type='text' maxlength='200' name='question' size='28'>

    <ul id='choice-list'>
      {% for i in 9|get_range %}
        <li>Choice {{ i }}: <input type='text' maxlength='200' name='choice{{ i }}' size='24'></li>
      {% endfor %}
    </ul>

    <input type='hidden' name='username' value='{{ user.username }}'>
    <button type='button' id='add-choice-button'>+</button>

    <div align='center'> <input type='submit' value='Create'> </div>
  </form>
{% endblock %}
