{% extends 'base.html' %}

{% block head %}
  {% load staticfiles %}
  <script src='{% static 'approval_polls/detail.js' %}'></script>
{% endblock %}

{% block content %}

<div class='row-fluid'>
  <div class='col-md-12'>
    <h3>{{ poll.question }}</h3>
  </div>
</div>

{% if error_message %}
    <div class='row-fluid top-buffer'>
      <div class='col-md-12 text-danger'>
        {{ error_message }}
      </div>
    </div>
{% endif %}

<div class='row-fluid top-buffer full-height'>
  <div class='col-md-12'>
    <form action='{% url 'approval_polls:vote' poll.id %}' method='post'>
      {% csrf_token %}
      <em>Choose as many options as you wish</em>
      {% for choice in poll.choice_set.all %}
        <div class='checkbox'>
          <label>
            <input type='checkbox' name='choice{{ forloop.counter }}' id='choice{{ forloop.counter }}' {% if checked_choices %} {% if choice in checked_choices %} checked {% endif %} {% endif %}>
            {% if choice.choice_link %}
              <a href={{choice.choice_link}} target='_blank'>{{ choice }}</a>
            {% else %}
              {{ choice }}
            {% endif %}
          </label>
        </div>
      {% endfor %}
      {% if poll.show_write_in and not poll.is_closed %}
        <p>
          <button type='button' class='btn btn-primary btn-sm' id='add-option'
          title='Add Option' data-toggle='tooltip' data-placement='bottom'>
          <small><i class='glyphicon glyphicon-plus'></i></small>
          </button>
        </p>
      {% endif %}
      <div class='text-center'>
        {% if poll.vtype == 3 and not poll.is_closed %}
          {% if vote_invitation %} 
            <input type='hidden' name='invitation_key' value={{ vote_invitation.key }}>
            <input type='hidden' name='invitation_email' value={{ vote_invitation.email }}>
          {% else %}
            <!-- Fallback to the default user email -->
            {% if not vote_authorized %}
              <div class='row-fluid top-buffer'>
                <div class='col-md-12 text-danger'>
                  Sorry! You are not authorized to vote in this poll.
                </div>
              </div>
            {% else %}
              <input type='hidden' name='invitation_email' value={{ request.user.email }}>
            {% endif %}
          {% endif %}
        {% endif %}
        {% if poll.vtype == 2  and not user.is_authenticated %}
          <button class='btn btn-success' type='submit'>Login to Vote</button>
        {% else %}
          {% if poll.is_closed %}
            <div class='row-fluid top-buffer'>
              <div class='col-md-12 text-danger'>
                Sorry! This poll is closed.
              </div>
            </div>
          {% endif %}
          {% if poll.vtype == 3 %}
            <button class='btn btn-success' type='submit' {% if poll.is_closed or not vote_authorized %} disabled {% endif %}>{% if checked_choices %}Update Vote{% else %}Vote{% endif %}</button>
          {% else %}
            <button class='btn btn-success' type='submit' {% if poll.is_closed %} disabled {% endif %}>{% if checked_choices %}Update Vote{% else %}Vote{% endif %}</button>
          {% endif %}
        {% endif %}
      </div>
    </form>
  </div>
</div>

<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    {% if poll.show_close_date %}
      <div class='text-center'>
        <p class='label label-info'>Closing Date: {{ poll.close_date|date:"N j, Y, P e" }}</p>
      </div>
    {% endif %}
    {% if poll.show_countdown and time_difference %}
      <div class='text-center'>
        <p class='label label-warning' id='timer'></p>
        <input type='hidden' id='time_difference' value='{{ time_difference }}' readonly>
      </div>
    {% endif %}
    <div class='text-center form-group'>
      <p class='label label-default'>Creator: {{poll.user.username}}</p>
    </div>
    <p class='text-center'>
      <a href='{% url 'approval_polls:results' poll.id %}'>See Results</a>
    </p>

  </div>
</div>

<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    <p class='text-center'>
      This poll uses approval voting, instead of the more common plurality system.
      <a href='http://www.electology.org/approval-voting'>Learn why it's better</a> and 
      <a href='{% url 'approval_polls:create' %}' target='_top'>create your own poll</a>.
    </p>
  </div>
</div>

{% endblock %}

