{% extends 'base.html' %}

{% block content %}

<div class='row-fluid'>
  <div class='col-md-12'>
    <h3>{{ poll.question }}</h3>
  </div>
</div>

{% if error_message %}
    <div class='row-fluid top-buffer'>
      <div class='col-md-12 text-danger'>
        {{ error_message }}
      </div>
    </div>
{% endif %}

<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    <form action='{% url 'approval_polls:vote' poll.id %}' method='post'>
      {% csrf_token %}
      {% for choice in poll.choice_set.all %}
        <div class='checkbox'>
          <label>
            <input type='checkbox' name='choice{{ forloop.counter }}' id='choice{{ forloop.counter }}' {% if checked_choices %} {% if choice in checked_choices %} checked {% endif %} {% endif %}>
            {{ choice }}
          </label>
        </div>
      {% endfor %}
      <div class='text-center'>
        {% if poll.vtype == 2  and not user.is_authenticated %}
          <button class='btn btn-success' type='submit'>Login to Vote</button>
        {% else %}
          {% if poll.is_closed %}
            <div class='row-fluid top-buffer'>
              <div class='col-md-12 text-danger'>
                Sorry! This poll is closed.
              </div>
            </div>
          {% endif %}
          <button class='btn btn-success' type='submit' {% if poll.is_closed %} disabled {% endif %}>{% if checked_choices %}Update Vote{% else %}Vote{% endif %}</button>
        {% endif %}
      </div>
    </form>

  </div>
</div>

<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    {% if poll.show_close_date and not poll.is_closed %}
      <div class='text-center'>
        <p class='label label-info'>Closing Date: {{ poll.close_date|date:"Y/m/d,H:i e" }}</p>
      </div>
    {% endif %}
    {% if poll.show_countdown and time_difference %}
      <div class='text-center'>
        <p class='label label-warning' id='timer'></p>
      </div>
    {% endif %}
    <p class='text-center'>Creator: {{poll.user.username}}</p>
    <p class='text-center'>
      <a href='{% url 'approval_polls:results' poll.id %}'>See Results</a>
    </p>

  </div>
</div>

<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    <p class='text-center'>
      This poll uses approval voting, instead of the more common plurality system.
      <a href='http://www.electology.org/approval-voting'>Learn why it's better</a> and 
      <a href='{% url 'approval_polls:create' %}' target='_top'>create your own poll</a>.
    </p>
  </div>
</div>

<script>

  var convertSeconds, onZero;

  convertSeconds = function (total_seconds) {
    var days, hours, minutes, seconds, currentTime;

    days = Math.floor(total_seconds / 86400);
    hours = Math.floor((total_seconds % 86400) / 3600);
    minutes = Math.floor(((total_seconds % 86400) % 3600) / 60);
    seconds = Math.floor(((total_seconds % 86400) % 3600) % 60);
    days = ('0' + days).slice(-2);
    hours = ('0' + hours).slice(-2);
    minutes = ('0' + minutes).slice(-2);
    seconds = ('0' + seconds).slice(-2);
    currentTime = days + 'd:' + hours + 'h:' + minutes + 'm:' + seconds + 's';

    return currentTime;
  };

  $.fn.countdown = function (callback, duration) {
    var currentTimeString, container, countdown, message;

    message = 'before poll closes';
    currentTimeString = convertSeconds(duration);
    container = $(this[0]).html(currentTimeString + ' ' + message);

    countdown = setInterval(function () {
      if (--duration) {
        currentTimeString = convertSeconds(duration);
        container.html(currentTimeString + ' ' + message);
      }
      else {
        clearInterval(countdown);
        callback.call(container); 
      }
    }, 1000);
  };

  onZero = function () {
    window.location.reload();
  };

  {% if poll.show_countdown and time_difference %}
    $('#timer').countdown(onZero, Math.ceil({{time_difference}}));
  {% endif %}

</script>

{% endblock %}

