{% extends 'base.html' %}

{% block content %}
<div class='row-fluid'>
  <div class='col-md-12'>
    <h3>{{ poll.question }}</h3>
  </div>
</div>

<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    <form action='{% url 'approval_polls:vote' poll.id %}' method='post'>
      {% csrf_token %}
      {% for choice in poll.choice_set.all %}
        <div class='checkbox'>
          <label>
            <input type='checkbox' name='choice{{ forloop.counter }}' id='choice{{ forloop.counter }}'>
            {{ choice }}
          </label>
        </div>
      {% endfor %}
      <div class='text-center'>
        <button class='btn btn-success' type='submit'>Vote</button>
      </div>
    </form>

  </div>
</div>

<div class='row-fluid top-buffer'>
  <div class='col-md-12'>

    <p class='text-center'>Creator: {{poll.user.username}}</p>
    <p class='text-center'>
      <a href='{% url 'approval_polls:results' poll.id %}'>See Results</a>
    </p>

  </div>
</div>

<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    <p class='text-center'>
      This poll uses approval voting, instead of the more common plurality system.
      <a href='http://www.electology.org/approval-voting'>Learn why it's better</a> and 
      <a href='{% url 'approval_polls:create' %}' target='_top'>create your own poll</a>.
    </p>
  </div>
</div>
{% endblock %}

