{% extends 'base.html' %}
{% load filters %}
{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
          integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css"
          integrity="sha512-YWDtZYKUekuPMIzojX205b/D7yCj/ZM82P4hkqc9ZctHtQjvq3ei11EvAmqxQoyrIFBd9Uhfn/X6nJ1Nnp+F7A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"
            integrity="sha512-lUZZrGg8oiRBygP81yUZ4XkAbmeJn7u7HW5nq7npQ+ZXTRvj3ErL6y1XXDq6fujbiJlu6gHsgNUZLKE6eSDm8w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src='{% static 'create.js' %}'></script>
    <script src='{% static 'edit.js' %}'></script>
{% endblock %}
{% block content %}
    <div class='row-fluid full-height'>
        <div class='col-md-12'>
            <input id='poll-vtype' type='hidden' value={{ poll.vtype }}>
            <input id='poll-id' type='hidden' value={{ poll.id }}>
            <form action="{% url 'approval_polls:edit' poll_id=poll.id %}"
                  method='post'>
                <legend>Edit: {{ poll.question }}</legend>
                <p>
                    {% if not can_edit_poll %}You cannot edit the questions and choices as this poll has got ballots on it!{% endif %}
                </p>
                {% csrf_token %}
                <div class='form-group {% if question_error %}has-error{% endif %}'>
                    {% if question_error %}<label class='control-label' for='question'>{{ question_error }}</label>{% endif %}
                    <input type='text'
                           class='form-control'
                           maxlength='200'
                           value='{{ poll.question }}'
                           name='question'
                           size='28'
                           placeholder='Poll Question'
                           {% if not can_edit_poll %}disabled{% endif %}>
                </div>
                <input id='LastId' type='hidden' value='{{ choices_count }}'>
                {% if choice_blank_error %}
                    <h5 style="color:#8B0000;">
                        <b>Please ensure you've entered all choices correctly</b>
                    </h5>
                {% endif %}
                {% with existing_choice_texts_existing=existing_choice_texts|get_hash_item:'existing' %}
                    {% with existing_choice_links_existing=existing_choice_links|get_hash_item:'existing' %}
                        {% for choice in choices %}
                            {% with choice_id=choice.id %}
                                {% with box_text=existing_choice_texts_existing|get_item:choice_id %}
                                    {% with link_text=existing_choice_links_existing|get_item:choice_id %}
                                        <div class='form-group {% if choice.id in blank_choices %}has-error{% endif %}'>
                                            {% if choice_blank_error and choice_id in blank_choices %}
                                                <label class='control-label' for='choice{{ choice_id }}'>
                                                    Please ensure you have a value for the choice or remove it.
                                                </label>
                                            {% endif %}
                                            <div class='input-group' id='div-choice{{ choice.pk }}'>
                                                <input class='form-control' type='text' maxlength='200' name='choice{{ choice.pk }}' placeholder='Choice' value="{% if choice_id in blank_choices %}" {% else %} {{ box_text|default:choice.choice_text }} {% endif %} {% if not can_edit_poll %}disabled{% endif %}>
                                                {% if can_edit_poll %}
                                                    <span class='input-group-addon'>
                                                        <a href='#'
                                                           class='add-link'
                                                           id='link-choice{{ choice.pk }}'
                                                           title='Add link'
                                                           data-toggle='tooltip'
                                                           data-placement='bottom'>
                                                            <span class='glyphicon glyphicon-link {% if link_text or choice.choice_link %}text-success' {% else %} ' {% endif %}></span>
                                                        </a>
                                                    </span>
                                                    <span class='input-group-addon'>
                                                        <a href='#'
                                                           class='remove-choice'
                                                           id='remove-choice{{ choice.pk }}'
                                                           title='Remove Choice'>
                                                            <span class='glyphicon glyphicon-remove'></span>
                                                        </a>
                                                    </span>
                                                {% endif %}
                                                <input type='hidden'
                                                       id='linkurl-choice{{ choice.pk }}'
                                                       name='linkurl-choice{{ choice.pk }}'
                                                       value='{{ link_text|default:choice.choice_link }}'>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {% endwith %}
                {% endwith %}
                {% with existing_choice_texts_new=existing_choice_texts|get_hash_item:'new' %}
                    {% with existing_choice_links_new=existing_choice_links|get_hash_item:'new' %}
                        {% for id, text in  existing_choice_texts_new.items %}
                            {% with link_text=existing_choice_links_new|get_item:id %}
                                <div class='form-group'>
                                    <div class='input-group' id='div-choice{{ id }}'>
                                        <input class='form-control'
                                               type='text'
                                               maxlength='200'
                                               name='choice{{ id }}'
                                               placeholder='Choice'
                                               value='{{ text }}'>
                                        <span class='input-group-addon'>
                                            <a href='#'
                                               class='add-link'
                                               id='link-choice{{ id }}'
                                               title='Add link'
                                               data-toggle='tooltip'
                                               data-placement='bottom'>
                                                <span class='glyphicon glyphicon-link'></span>
                                            </a>
                                        </span>
                                        <span class='input-group-addon'>
                                            <a href='#'
                                               class='remove-choice'
                                               id='remove-choice{{ id }}'
                                               title='Remove Choice'>
                                                <span class='glyphicon glyphicon-remove'></span>
                                            </a>
                                        </span>
                                        <input type='hidden'
                                               id='linkurl-choice{{ id }}'
                                               name='linkurl-choice{{ id }}'
                                               value='{{ link_text }}'>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    {% endwith %}
                {% endwith %}
                <p>
                    <button type='button'
                            class='btn btn-primary btn-sm'
                            id='add-choice-edit'
                            title='Add choice'
                            data-toggle='tooltip'
                            data-placement='bottom'
                            {% if not can_edit_poll %}disabled{% endif %}>
                        <i class='glyphicon glyphicon-plus'></i>
                    </button>
                </p>
                <p>
                    <div id='tag-input'>
                        <label>
                            <h6>(Enter a comma after each tag)</h6>
                            <input id='allTags' value='{{ all_tags }}' type="hidden">
                            <input type='text'
                                   name='token-tags'
                                   class='form-control'
                                   id='tokenTagField'
                                   placeholder='Enter tags' />
                        </label>
                    </div>
                </p>
                <!-- Add the collapsible poll settings panel here -->
                <div class='panel-group'
                     id='accordion'
                     role='tablist'
                     aria-multiselectable='true'>
                    <div class='panel panel-default'>
                        <div class='panel-heading' role='tab' id='headingOne'>
                            <h4 class='panel-title'>
                                <a role='button'
                                   data-toggle='collapse'
                                   data-parent='#accordion'
                                   href='#collapsePollSettings'
                                   aria-expanded='true'
                                   aria-controls='collapsePollSettings'>Poll Settings</a>
                            </h4>
                        </div>
                        <div id='collapsePollSettings'
                             class='panel-collapse'
                             role='tabpanel'
                             aria-labelledby='headingOne'>
                            <div class='panel-body'>
                                Who should be allowed to vote in this poll ?
                                <div class='radio'>
                                    <label>
                                        <input type='radio'
                                               name='radio-poll-type'
                                               {% if poll.vtype == 1 %}checked='true'{% endif %}
                                               value='1'>
                                        Anyone (No restriction on the number of ballots per user).
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label>
                                        <input type='radio'
                                               name='radio-poll-type'
                                               {% if poll.vtype == 2 %}checked='true'{% endif %}
                                               value='2'>
                                        Only users with registered accounts (restricted to one ballot per user, requires login).
                                    </label>
                                </div>
                                <div class='radio'>
                                    <label class='full-width'>
                                        <input type='radio'
                                               name='radio-poll-type'
                                               {% if poll.vtype == 3 %}checked='true'{% endif %}
                                               value='3'>
                                        Only specific Email owners (will be invited by Email).
                                        <div id='existing-emails' hidden>
                                            <h6>List of current email invitees(You can copy either of these and paste into the field below):</h6>
                                            <h6>{{ invited_emails|default:'No current invitees' }}</h6>
                                        </div>
                                        <div id='email-input' hidden>
                                            <h6>(Enter a comma after each email ID)</h6>
                                            <input type='text'
                                                   name='token-emails'
                                                   class='form-control'
                                                   id='tokenEmailField'
                                                   placeholder='Email IDs' />
                                            <label id='email-error'
                                                   for='token-emails'
                                                   class='alert alert-danger full-width'
                                                   hidden>One or more Email addresses are invalid.</label>
                                        </div>
                                    </label>
                                </div>
                                <hr>
                                <p>Poll Visibility</p>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox'
                                               id='poll-visibility'
                                               name='public-poll-visibility'
                                               value=''
                                               autocomplete='off'
                                               {% if poll.is_private %}{% else %}checked{% endif %}>
                                        List this poll on the home page.
                                    </label>
                                </div>
                                <hr>
                                <div class = 'datetimepicker'>
                                    <p>Please select a closing date and time for this poll, if any</p>
                                    <input id='datetimepicker'
                                           type='text'
                                           class='form-control'
                                           name='close-datetime'
                                           value='{{ closedatetime }}'
                                           placeholder='Poll Closing Date'
                                           style='background-color: white'
                                           readonly>
                                </div>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox'
                                               name='show-close-date'
                                               id='checkbox1'
                                               value=''
                                               autocomplete='off'
                                               {% if poll.show_close_date %}checked{% endif %}>
                                        Display Poll Closing Date with this poll.
                                    </label>
                                </div>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox'
                                               name='show-countdown'
                                               id='checkbox2'
                                               value=''
                                               autocomplete='off'
                                               {% if poll.show_countdown %}checked{% endif %}>
                                        Display Poll Closing Countdown with this poll.
                                    </label>
                                </div>
                                <hr>
                                <p>Customize Poll</p>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox'
                                               name='show-write-in'
                                               value=''
                                               {% if poll.show_write_in %}checked{% endif %}>
                                        Permit Write-in option with this poll.
                                    </label>
                                </div>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox'
                                               name='show-lead-color'
                                               value=''
                                               {% if poll.show_lead_color %}checked{% endif %}>
                                        Show Leading option in different color.
                                    </label>
                                </div>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox'
                                               name='show-email-opt-in'
                                               value=''
                                               {% if poll.show_email_opt_in %}checked{% endif %}>
                                        Display option to opt-in for email communication.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type='submit' class='btn btn-success pull-right'>Save</button>
            </form>
        </div>
    </div>
{% endblock %}
