{% extends 'base.html' %}

{% block head %}
  {% load staticfiles %}
  <script src="{% static 'approval_polls/embed_instructions.js' %}"></script>
{% endblock %}

{% block content %}
<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    <h4>Preview</h4>
    <iframe id="iframePreview" class="border" src='{{ link }}' width='720px'>Sorry, your browser doesn't support iframes.</iframe>
    <h4>Put this code in your site</h4>
    <div class = 'form-group'>
      <textarea id='textAreaCode' class = 'form-control' readonly></textarea>
    </div>
    <button id= "copyText" class="btn mt-2 btn-primary btn-xs">Copy to Clipboard</button>
  </div>
</div>
{% endblock %}
