{% extends 'base.html' %}

{% block head %}
  {% load staticfiles %}
  <script src="{% static 'approval_polls/embed_instructions.js' %}"></script>
{% endblock %}

{% block content %}
<div class='row-fluid top-buffer'>
  <div class='col-md-12'>
    <h4>Put this code in your site</h4>
    <div id='textAreaCode' class='well well-sm'></div>
    <h4>Preview</h4>
    <iframe id="iframePreview" src='{{ link }}' width='350px'>Sorry, your browser doesn't support iframes.</iframe>
  </div>
</div>
{% endblock %}
