{% extends "base.html" %}

{% block content %}
    <div class="row-fluid top-buffer">
        <div class="col-md-12">
            <h3> Edit Poll </h3>
        </div>
    </div>
    <div class="row-fluid top-buffer">
        <div class="col-md-12">
            <form action="" method="post"> {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group {% if form.suspended.errors %} has-error {% endif %}" >
                    <label>Poll Active/Inactive:</label>
                    {% if form.suspended.errors %}
                        <label class="control-label" for="{{ form.suspended.id_for_label }}">
                            {{ form.suspended.errors }}
                        </label>
                    {% endif %}
                    {{ form.suspended }}

                </div>
                <div class="form-group {% if form.question.errors %} has-error {% endif %}">
                    {% if form.question.errors %}
                        <label class="control-label" for="{{ form.question.id_for_label }}">
                            {{ form.questions.errors }}
                        </label>
                    {% endif %}
                    <label for="{{ form.question.id_for_label }}">Question: </label>{{ form.question }}

                </div>
                <div class="form-group {% if form.open_date.errors %} has-error {% endif %}">

                    {% if form.open_date.errors %}
                        <label class="control-label" for="{{ form.open_date.id_for_label }}">
                            {{ form.open_date.errors }}
                        </label>
                    {% endif %}
                    <label for="{{ form.open_date.id_for_label }}">Poll Opening Date: </label>{{ form.open_date }}
                </div>
                <div class="form-group {% if form.open_date.errors %} has-error {% endif %}">
                    {% if form.close_date.errors %}
                        <label class="control-label" for="{{ form.close_date.id_for_label }}">
                            {{ form.close_date.errors }}
                        </label>
                    {% endif %}
                    <label for="{{ form.close_date.id_for_label }}">Poll Closing Date: </label>{{ form.close_date }}
                </div>

                {% for choice in choices %}
                    <div class="form-group {% if choice.choice_text.errors %} has-error {% endif %}">

                        {% if choice.choice_text.errors %}
                            <class class="control-label" for="{{ choice.form.choice_text.id_for_label }}.{{ choice.id }}">
                                {{ choice.choice_text.errors }}
                            </class>
                        {% endif %}
                        <label for="{{ choice.form.choice_text.id_for_label }}.{{ choice.id }}">Choice {{ forloop.counter }}: </label>
                        <input class="form-control" id="id_choice_text.{{ choice.id }}"
                               name="choice_text.{{ choice.id }}"
                               type="text" value="{{ choice.form.choice_text.value }}"/>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-default" value="Update"/>

            </form>
        </div>
    </div>

{% endblock %}
{% block login %}
    {{ user.username }} |
    <a href="{% url "auth_logout" %}?next={% url "approval_polls:index" %}">Logout</a>
{% endblock %}