{% extends 'base.html' %}
{% block head %}
  {% load static %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.3/jqcloud.min.js" integrity="sha512-gZUG2nobmGEaF3G67OVAmD0lQGbkzN5t9tuiOndqzVNiWBLkCo4o6UBkBLkvKfTPWlVBJPI8dvkLJTwcJbKwvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.3/jqcloud-1.0.3.min.js" integrity="sha512-gZUG2nobmGEaF3G67OVAmD0lQGbkzN5t9tuiOndqzVNiWBLkCo4o6UBkBLkvKfTPWlVBJPI8dvkLJTwcJbKwvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<div class='row-fluid full-height'>
  <div class='col-md-12'>
    <div id='tagcloud' style="height:25em;width:100%;"></div>
  </div>
</div>
<script text="text/javascript">
var words = []
{% for k, v in topTags.items %}
  words.push({text: '{{ k }}', weight: {{ v }}, link: '/approval_polls/tag/{{k}}'})
{% endfor %}
$('#tagcloud').jQCloud(words);
</script>
{% endblock %}

