{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.2/bootstrap-social.min.css" integrity="sha512-3CYhYJnb7/677SX8kzxL2+gW6vVzXiVEC6ZhK0S4tGVp7dTlMjSZPVvA79aH8YMU0xuKn2tLZIFaBctUi4Cb/w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}


{% if form.errors %}
<div class='row-fluid top-buffer'>
  <div class='col-md-12 text-danger'>
    Invalid credentials. Please try again.
  </div>
</div>
{% endif %}

<div class='row top-buffer  align-self-center'>
  <div class='col-md-6'>
    <div class='row'>
      {% if next %}
      <form method='post' action='/accounts/login/?next={{next}}'>
        {% else %}
        <form method='post' action='/accounts/login/'>
          {% endif %}
          {% csrf_token %}
          <a href="{% url 'registration_register' %}"> Register </a>
          <legend>Login</legend>

           {% comment %}<div class='form-group'>
            <a href='{% url 'social:begin' 'facebook' %}?next={{ next }}' class='btn btn-block btn-social btn-facebook'>
              <span class='fa fa-facebook'></span> Login with Facebook
            </a>
            <a href='{% url 'social:begin' 'google-oauth2' %}?next={{ next }}'
              class='btn btn-block btn-social btn-google'>
              <span class='fa fa-google'></span> Login with Google
            </a>
          </div>
          <table width='100%'>
            <tr>
              <td>
                <hr />
              </td>
              <td id='socialAuthSep'>or</td>
              <td>
                <hr />
              </td>
            </tr>
          </table>{% endcomment %}
          <div class='form-group'>
            <input type='text' class='form-control' id='{{ form.username.id_for_label }}'
              name='{{ form.username.name }}' placeholder='Username or Email ID'
              maxlength={{ form.username.field.max_length }}>
          </div>
          <div class='form-group'>
            <input type='password' class='form-control' id='{{ form.password.id_for_label }}'
              name='{{ form.password.name }}' placeholder='{{ form.password.label }}'>
          </div>
          <div class='form-group small'>
            <p align='right'>
              <a href='{% url 'auth_password_reset' %}'>Forgot Password?</a>
            </p>
          </div>
          <button type='submit' class='btn btn-success'>Login</button>
        </form>
    </div>
  </div>
</div>


{% endblock %}

{% block login %}{% endblock %}