{% extends "base.html" %}

{% block content %}
    <div class='row-fluid top-buffer'>
      <div class='col-md-6 col-md-offset-3'>
        <form action="." method="post">
          <legend>Reset Password</legend>
          <p>Instructions to reset your password will be sent to the email 
            address entered below.
          </p>
          {% csrf_token %}
          <div class='form-group {% if form.errors.email %} has-error {% endif %}'>
            {% for error in form.errors.email %}
              <label class='control-label' for='{{ form.email.id_for_label }}'>
                {{ error }}
              </label>
            {% endfor %}
            <input type='text' class='form-control' id='{{ form.email.id_for_label }}'
                  name='{{ form.email.name }}' placeholder='Email ID'
                  maxlength={{ form.email.field.max_length }}>
          </div>
          <button type='submit' class='btn btn-success'>Send reset email</button>
        </form>
      </div>
    </div>

    <div class='row-fluid top-buffer'>
      <div class='col-md-6 col-md-offset-3'>
        <p class='pull-left'>
          <a href='{% url 'approval_polls:index' %}'>Home</a>
        </p>
        <p class='pull-right'>
          <a href="{% url 'auth_login' %}">Login</a>
        </p>
      </div>
    </div>
{% endblock %}

{% block login %}{% endblock %}
{% block footer %}{% endblock %}


