{% extends "base.html" %}

{% block content %}

  {% if validlink %}
    <div class='row-fluid top-buffer'>
      <div class='col-md-6 col-md-offset-3'>
        <form action="." method="post">
          <legend>Set a new password</legend>
          {% csrf_token %}
          <div class='form-group {% if form.errors.new_password1 %} has-error {% endif %}'>
            {% for error in form.errors.new_password1 %}
              <label class='control-label' for='{{ form.new_password1.id_for_label }}'>
                {{ error }}
              </label>
            {% endfor %}
            <input type='password' class='form-control' id='{{ form.new_password1.id_for_label }}'
                name='{{ form.new_password1.name }}' placeholder='{{ form.new_password1.label }}'>
          </div>
          <div class='form-group {% if form.errors.new_password2 %} has-error {% endif %}'>
            {% for error in form.errors.new_password2 %}
              <label class='control-label' for='{{ form.new_password2.id_for_label }}'>
                {{ error }}
              </label>
            {% endfor %}
            <input type='password' class='form-control' id='{{ form.new_password2.id_for_label }}'
                name='{{ form.new_password2.name }}' placeholder='{{ form.new_password2.label }}'>
          </div>
          <p>
            <button type='submit' class='btn btn-success'>Change Password</button>
          </p>
        </form>
        <p class='pull-left'>
          <a href='{% url 'approval_polls:index' %}'>Home</a>
        </p>
        <p class='pull-right'>
          <a href="{% url 'auth_login' %}">Login</a>
        </p>
      </div>
    </div>
  {% else %}
    <div class='row-fluid top-buffer'>
      <div class='col-md-12'>
        <legend>Password reset unsuccessful</legend>
        <p>
          The password reset link is invalid, possibly because it has already been used. 
          Please request a new <a href="{% url 'auth_password_reset' %}">password reset</a>.
        </p>
        <p class='pull-left'>
          <a href='{% url 'approval_polls:index' %}'>Home</a>
        </p>
        <p class='pull-right'>
          <a href="{% url 'auth_login' %}">Login</a>
        </p>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block login %}{% endblock %}
{% block footer %}{% endblock %}
