{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <div class='row-fluid top-buffer'>
      <div class='col-md-12 text-danger'>
        {{ form.errors }}
      </div>
    </div>
  {% endif %}
  <div class='row-fluid top-buffer'>
    <div class='col-md-12'>
      <legend>Password reset email sent</legend>
      <p>We have emailed instructions for resetting your password to the email address you submitted.</p>
      <p>You should be receiving it shortly.</p>
    </div>
  </div>
{% endblock %}
