{% extends 'base.html' %}

{% block head %}
  {% load staticfiles %}
  <script src='{% static 'approval_polls/registration_form.js' %}'></script>
{% endblock %}

{% block content %}

<div class='row-fluid top-buffer'>
  <div class='col-md-6 col-md-offset-3'>
    <form action='/accounts/register/' method='post'>
      {% csrf_token %}
      <legend>Register</legend>
      <div class='form-group {% if form.errors.username %} has-error {% endif %}'>
        {% for error in form.errors.username %}
          <label class='control-label' for='{{ form.username.id_for_label }}'>
              {{ error }}
          </label>
        {% endfor %}
        <input type='text' class='form-control' id='{{ form.username.id_for_label }}'
               name='{{ form.username.name }}' placeholder='{{ form.username.label }}'
               value='{{ form.username.value|default_if_none:'' }}' maxlength={{ form.username.field.max_length }}>
      </div>
      <div class='form-group {% if form.errors.email %} has-error {% endif %}'>
        {% for error in form.errors.email %}
          <label class='control-label' for='{{ form.email.id_for_label }}'>
              {{ error }}
          </label>
        {% endfor %}
        <input type='email' class='form-control' id='{{ form.email.id_for_label }}'
               name='{{ form.email.name }}' placeholder='Email ID'
               value='{{ form.email.value|default_if_none:'' }}' maxlength={{ form.email.field.max_length }}>
      </div>
      <div class='form-group {% if form.errors.password1 or form.non_field_errors %} has-error {% endif %}'>
        {% for error in form.non_field_errors %}
          <label class='control-label' for='{{ form.password1.id_for_label }}'>
              {{ error }}
          </label>
        {% endfor %}
        {% for error in form.errors.password1 %}
          <label class='control-label' for='{{ form.password1.id_for_label }}'>
              {{ error }}
          </label>
        {% endfor %}
        <input type='password' class='form-control' id='{{ form.password1.id_for_label }}'
        name='{{ form.password1.name }}' placeholder='{{ form.password1.label }}'>
      </div>
      <div class='form-group {% if form.errors.password2 %} has-error {% endif %}'>
        {% for error in form.errors.password2 %}
          <label class='control-label' for='{{ form.password2.id_for_label }}'>
              {{ error }}
          </label>
        {% endfor %}
        <input type='password' class='form-control' id='{{ form.password2.id_for_label }}'
        name='{{ form.password2.name }}' placeholder='{{ form.password2.label }}'>
      </div>
      <div class='form-group {% if form.errors.zipcode %} has-error {% endif %}'>
        {% for error in form.errors.zipcode %}
          <label class='control-label' for='{{ form.zipcode.id_for_label }}'>
              {{ error }}
          </label>
        {% endfor %}
        <input type='text' class='form-control' id='{{ form.zipcode.id_for_label }}'
               name='{{ form.zipcode.name }}' placeholder='{{ form.zipcode.label }}'
               value='{{ form.zipcode.value|default_if_none:'' }}' maxlength={{ form.zipcode.field.max_length }}>
      </div>
      <div class='form-group {% if form.errors.newslettercheckbox %} has-error {% endif %}'>
        {% for error in form.errors.newslettercheckbox %}
          <label class='control-label' for='{{ form.newslettercheckbox.id_for_label }}'>
            {{ error }}
          </label>
        {% endfor %}
        <div class='checkbox'>
          <label>
            <input type='checkbox' id='{{ form.newslettercheckbox.id_for_label }}'
              name='{{ form.newslettercheckbox.name }}' {% if form.newslettercheckbox.value %} checked {% endif %}>
              Subscribe to our Newsletter
          </label>
        </div>
      </div>
      <button class='btn btn-success' type='submit'>Register</button>
    </form>
  </div>
</div>

<div class='row-fluid top-buffer'>
  <div class='col-md-6 col-md-offset-3'>
    <p class='pull-left'>
      <a href='{% url 'approval_polls:index' %}'>Home</a>
    </p>
    <p class='pull-right'>
      <a href="{% url 'auth_login' %}">Login</a>
    </p>
  </div>
</div>
{% endblock %}

{% block login %}{% endblock %}
{% block footer %}{% endblock %}
