.top-buffer > div {
  margin-top: 10px;
}

.chart div {
  height: 1.4em;
}

.right-buffer {
  margin-right: 5px;
}

#textAreaCode {
  resize:none;
  overflow:hidden;
  overflow-y:scroll;
}

#socialAuthSep {
  width:1px;
  padding:0 10px;
  text-align:center;
}

.full-height {
  display:inline-block;
  width:100%;
}

#pollQuestion {
  display:inline-block;
  width:60%;
}

.full-width {
  width: 100%
}

.label-inline {
  display:inline-block;
}