{% extends 'base.html' %}
{% block head %}
    {% load static %}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">Invalid credentials. Please try again.</div>
                {% endif %}
                <div class="card">
                    <div class="card-header text-center">Login</div>
                    <div class="card-body">
                        <form method="post"
                              action="{% if next %}/accounts/login/?next={{ next }}{% else %}/accounts/login/{% endif %}"
                              id="loginForm">
                            {% csrf_token %}
                            {% if invalid %}<div class="alert alert-danger" role="alert">Invalid Username or Password</div>{% endif %}
                            <div class="mb-3">
                                <label for="inputUsername" class="form-label">Username</label>
                                <input type="text"
                                       id="inputUsername"
                                       name="username"
                                       class="form-control"
                                       placeholder="Username"
                                       autocomplete="username webautn"
                                       autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password"
                                       id="inputPassword"
                                       name="password"
                                       class="form-control"
                                       placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Login</button>
                            <input type="hidden" name="passkeys" id="passkeys" />
                            <div class="text-center mt-3">
                                <button class="btn btn-block btn-dark"
                                        type="button"
                                        onclick="authn('loginForm')">
                                    <img src="{% static 'passkeys/imgs/FIDO-Passkey_Icon-White.png' %}"
                                         style="width: 24px">
                                    &nbsp;Login with Passkey
                                </button>
                            </div>
                            <div class="text-center mt-3">
                                <a href="{% url 'registration_register' %}">Need an account? Register</a>
                            </div>
                            <div class="text-center mt-3">
                                <a href='{% url 'auth_password_reset' %}'>Forgot Password?</a>
                            </div>
                            {% include 'passkeys.js' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">window.onload = checkConditionalUI('loginForm');</script>
{% endblock %}
