name: Django Tests
permissions:
  contents: read # Restrict to read-only permissions for repository contents

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test

    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.14]

    steps:
      - uses: actions/checkout@v4
      - name: Install UV
        run: pipx install uv
      - name: Install dependencies
        run: uv sync
      - name: Run Tests
        run: |
          uv run python manage.py compress
          uv run pytest
